{% extends "parts/base.html" %}
{% comment %}
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.


Formular for Creating new Offers

@author Kevin Lucas Simon, Nelson Morais, Christina Bernhardt
Projekt OOAD Hausarbeit WiSe 2020/21
{% endcomment %}

{% load static %}

{% block title %}Angebot erstellen{% endblock %}

{% block content %}
    <h1>Angebot erstellen</h1>
    <form action="" method="POST">
        {% include "parts/form.html" %}
        <button type="submit" class="btn btn-success">Erstellen</button>
    </form>
{% endblock %}