{% extends "parts/base.html" %}
{% comment %}
Displaying Users created Offers and their Offer Requests.

@author Kevin Lucas Simon, Nelson Morais, Christina Bernhardt
Projekt OOAD Hausarbeit WiSe 2020/21
{% endcomment %}

{% load static %}

{% block title %}Meine Angebote{% endblock %}

{% block content %}
    {# Introduction #}
    <h1>Meine Angebote</h1>
    {% lorem 1 %}
    <br>
    {# List of Owners Offers and their Requests #}
    {% for object in objects %}
        <hr class="my-4">
        <div class="row">
            {# Offer Card #}
            <div class="col-sm-3">
                <div class="card border-0">
                    <a href="{% url "offer_details" offer_id=object.offer.id %}">
                        <img src="{% static "img/ShareCare.png" %}" class="card-img-top rounded">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ object.offer.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ object.offer.created_at }}</h6>
                        <p class="card-text">{{ object.offer.description }}</p>
                        <a href="{% url "delete_offer" offer_id=object.offer.id %}" class="card-link link-secondary">Angebot
                            löschen</a>
                    </div>
                </div>
            </div>
            {# Request belonging to Offer #}
            <div class="col-sm-9">
                <div class="row g-0">
                    <div class="col-md-12 my-auto">
                        <table class="table table-hover table-light">
                            <tbody>
                            {% if object.requests %}
                                {% for request in object.requests %}
                                    <tr>
                                        <td>{{ request.text }}</td>
                                        <td scope="row">
                                            {# Check Request Status #}
                                            {% if request.status == 1 %}
                                                <a type="button" class="btn btn-outline-success btn-sm float-end"
                                                   href="{% url "request_accept" offer_id=object.offer.id request_id=request.id %}">
                                                    &#10003;
                                                </a>
                                            {% elif request.status == 2 %}
                                                <button type="button" class="btn btn-success btn-sm float-end" disabled>
                                                    &#10003;
                                                </button>
                                            {% elif request.status == 3 %}
                                                <button type="button" class="btn btn-secondary btn-sm float-end"
                                                        disabled>
                                                    &#x2715;
                                                </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>Keine Anfragen vorhanden</td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}