/*
Custom CSS of the ShareCare Project.

@author Kevin Lucas Simon, Nelson Morais, Christina Bernhardt
Projekt OOAD Hausarbeit WiSe 2020/21
*/

/*
Notification Bar
*/
.dropdown-menu.notification {
    width: 350px;
    height: 300px;
    overflow-y: auto;
}

.dropdown-item.notification {
    white-space: normal;
}

@media (max-width: 767.98px) {
    .dropdown-menu.notification {
        width: 100%;
    }
}

/*
Opacity
*/
.opacity-50 {
    opacity: 0.5 !important;
}