{# Navigation #}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-lg">
        {# Navigation Brand Logo & Hamburger Button #}
        <a class="navbar-brand" href="{% url "index" %}">ShareCare</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            {# Left Side: Navigation Links #}
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "index" %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "offerlist" %}">OfferList</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "offersingle" %}">Offer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "requests" %}">Requests</a>
                </li>
            </ul>
            {# Right Side: Userlogin & Messages ) #}
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">User</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        &#128276;
                        <span class="d-md-none"> Mitteilungen</span>
                    </a>
                    {# Messages List #}
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end notification"
                        aria-labelledby="navbarDarkDropdownMenuLink">
                        <li>
                            <span class="dropdown-item-text">
                                <h5>Neuste Mitteilungen:</h5>
                            </span>
                        </li>
                        <li><a class="dropdown-item notification" href="#">
                            <strong>Anfrage</strong><br>{% lorem 7 w random %}
                        </a></li>
                        <li><a class="dropdown-item notification" href="#">
                            <strong>Antwort</strong><br>{% lorem 7 w random %}
                        </a></li>
                        <li><a class="dropdown-item notification" href="#">
                            <strong>Anfrage</strong><br>{% lorem 7 w random %}
                        </a></li>
                        <li><a class="dropdown-item notification" href="#">
                            <strong>Antwort</strong><br>{% lorem 7 w random %}
                        </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>