{% load static %}

{# Base-HTML #}
<!DOCTYPE html>
<html lang="en">
<head>
    {# Required meta tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Title #}
    <title>{% block title %}ShareCare {% endblock %}</title>

    {# Import CSS #}
    {% block head_end %}
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    {% endblock head_end %}

</head>
<body>

{# Navigation #}
{% include "parts/navigation.html" %}

{# Content #}
<div class="container-lg bg-white mt-md-5 mt-3">
    <div class="row">
        <div class="col">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>

{# Import JS #}
{% block body_end %}
    <script src="{% static "js/bootstrap.bundle.min.js" %}" type="text/javascript"></script>
{% endblock body_end %}

</body>
</html>