{% comment %}
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.


Displays the Navigation Header of the Page

@author Kevin Lucas Simon, Nelson Morais, Christina Bernhardt
Projekt OOAD Hausarbeit WiSe 2020/21
{% endcomment %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-lg">
        {# Navigation Brand Logo & Hamburger Button #}
        <a class="navbar-brand" href="{% url "welcome" %}">ShareCare</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            {# Left Side: Navigation Links #}
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "offer_list" %}">Angebote aus der Nähe</a>
                </li>
            </ul>
            {# Right Side: Authentification ) #}
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    {# Create Offer Button #}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "create_offer" %}">Neues Angebot</a>
                    </li>
                    {# User Controls #}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username|capfirst }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url "personal_offer_list" %}">Meine Angebote</a></li>
                            <li><a class="dropdown-item" href="{% url "personal_request_list" %}">Meine Anfragen</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url "logout" %}">Ausloggen</a></li>
                        </ul>
                    </li>
                    {# Messages List #}
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="notificationDropdownTrigger" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            &#128276;
                            <span class="d-md-none"> Mitteilungen</span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end notification"
                            aria-labelledby="notificationDropdownTrigger" id="notificationDropdown">
                            <li>
                                <span class="dropdown-item-text">
                                    <h5>Neuste Mitteilungen:</h5>
                                </span>
                            </li>
                        </ul>

                        <script>window.onload = function() {notification_handler.loadNotifications()}</script>
                    </li>
                {% else %}
                    {# Login/Register #}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "login" %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "signup" %}">Registrieren</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>